.day {
    width: auto;
    height: 150px;
    overflow: hidden;
    outline-style: solid;
    outline-color: #282c34;
}

.day header {
    margin: 5px 0 0 5px;
    padding-left: 5px;
    width:100%;
}

.dayNumber {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    width: 25px;
    text-align: center;
    padding-top: 2px;
}

.addMeeting {
    display: inline-block;
}

/*.meetingList {*/
/*    //margin: 5px 0 0 5px;*/
/*    //padding-left: 5px;*/
/*    //width:100%;*/
/*}*/