
label {
    display: inline-block;
    margin-bottom: 7px;
}

.labelDescription {
    padding-right: 20px;
}

.labelTitle {
    padding-right: 79px;
}

.labelTime {
    padding-right: 72px;
}

.labelDate {
    padding-right: 76px;
}

.content{
    display: inline-block;
}

.cancelDiv{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
}